@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #f9f9f9;
  --black: #1d1c29;
  --font-josefin: "Josefin Sans", sans-serif;
  --font-playfair: "Playfair Display", serif;
}
h1 {
  font-family: var(--font-playfair);
  font-weight: 900;
  font-size: 4rem;
  line-height: 3rem;
  color: var(--white);
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  position: relative;
  text-shadow: 1px 1px 0 var(--white), -1px -1px 0 var(--white), 1px -1px 0 var(--white), -1px 1px 0 var(--white), 1px 1px 0 var(--white);
  color: var(--black);
  font-family: var(--font-josefin);
}

h3,
p {
  font-family: var(--font-josefin);
  color: var(--white);
}

h3 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
p {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover,
p:hover {
  cursor: default;
}

a > *:hover {
  cursor: pointer;
}

/* span.timeslot {
  transition: visibility 250ms ease-in-out;
} */

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  color: #f9f01f;
}

.css-11yukd5-MuiTabs-indicator {
  background-color: #f9f01f;
}

.css-1pr7u1d-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #f9f01f;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 0.5rem 1rem;
  color: #f9f9f9;
  border: solid #f9f9f9 2px;
  border-radius: 5px;
}
/* burgermenu */
.css-1160xiw-MuiPaper-root-MuiDrawer-paper,
.css-1u2w381-MuiModal-root-MuiDrawer-root {
  display: flex;
  justify-content: center;
  z-index: 1;
}

.css-1160xiw-MuiPaper-root-MuiDrawer-paper {
  background: linear-gradient(90deg, rgba(168, 54, 218, 0.38), rgba(169, 54, 218, 0));
  backdrop-filter: blur(15px);
}

/* ----------- */
@media screen and (min-width: 1024px) {
  .bandcontainer {
    background-size: 166%;
    transition: all 250ms ease-in-out;
    background-position: center;
  }
  .bandcontainer:hover {
    background-size: 178%;
  }

  .bandcontainer:hover span.timeslot {
    opacity: 1;
  }
}

.MuiSvgIcon-root {
  fill: var(--black);
}
